body {
    width: 250px;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
}

h2 {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#readBtn {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

#readBtn:hover {
    background-color: #43a507;
}

#stopBtn {
    background-color: #d16f4e;
    color: white;
}

#stopBtn:hover {
    background-color: #f44336;
}

#status {
    margin-top: 15px;
    font-size: 13px;
    color: #555;
}


/* version 0.3 */
#pauseBtn {
    background-color: #ffa726;
    color: white;
}

#pauseBtn:hover {
    background-color: #fb8c00;
}

#resumeBtn {
    background-color: #29b6f6;
    color: white;
}

#resumeBtn:hover {
    background-color: #039be5;
}